*{margin:0;padding:0;}
.container{
    padding-top: 64px;
    padding-bottom: 64px;
}
.stop h3{
    color: #000000;
    margin: 0 0 1em;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0;
}
.stop p{
    font-size: .9em;
    color: #999;
    padding-bottom: 28px;
    padding-top: 28px;
    margin-bottom: 0;
}
.sbottom>ul{
    list-style: none;
}
.i_phone{
    text-align: center;
    display: inline-block;
    height: 40px;width: 40px;
    border-radius: 50%;
    background:#f35041 ;
    line-height: 40px;
    color: #ffffff;
    margin-right: 14px;
}